<h3><a class="btn btn-secondary" href="/user"><i class="fa fa-plus"></i> Create New</a> user List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email Id</th>
            <th>TestScore1</th>
            <th>TestScore2</th>
            <th>TestScore3</th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.emailId}}</td>
            <td>{{this.testScore1}}</td>
            <td>{{this.testScore1}}</td>
            <td>{{this.testScore1}}</td>      
            <td>
                <a href="/user/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/user/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>